<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Portfolio Automation Suite">

    <listeners>
        <listener class-name="com.tuyet.listeners.ExcelListener" />
    </listeners>

    <test name="Home Page Tests">
        <classes>
            <class name="com.tuyet.tests.HomeTest" />
        </classes>
    </test>

    <test name="About Page Tests">
        <classes>
            <class name="com.tuyet.tests.AboutTest" />
        </classes>
    </test>

    <test name="Theme Synchronization Tests">
        <classes>
            <class name="com.tuyet.tests.ThemeSyncTest" />
        </classes>
    </test>

</suite>